body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stacks items vertically */
    max-width: 700px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

.forgot-password-content {
    /* background: rgba(255, 255, 255, 0.8); */
    width: 100%; /* Full width */
    max-width: 525px; /* Restrict max width */
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Center align for better appearance */
}

input[type="email"] {
    width: 100%; /* Ensure full width */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.submit-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%; /* Full width for buttons */
    font-weight: 600;
    font-size: 16px;
}

.logo-container {
    width: 100%; /* Full width */
    max-width: 600px; /* Restrict max width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add spacing for smaller screens */
}

.logo-container img {
    max-width: 50%;
    height: auto;
}

.font-color {
    color: white;
}

/* Media Queries for Portrait Responsiveness */
@media (min-width: 768px) {
    .forgot-password-container {
        flex-direction: column; /* Ensure vertical stacking for portrait */
    }

    .forgot-password-content,
    .logo-container {
        width: 100%; /* Make both content and logo full width */
    }

    .forgot-password-container {
        padding: 20px; /* Adjust padding for portrait mode */
    }

    h2 {
        font-size: 35px; /* Adjust font size for readability */
    }

    input[type="email"] {
        font-size: 14px; /* Adjust input font size */
    }

    .submit-btn {
        font-size: 14px; /* Adjust button font size */
    }
}

@media (max-width: 767px) {
    .forgot-password-container {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    h2 {
        font-size: 20px; /* Smaller font size */
    }

    input[type="email"] {
        font-size: 14px; /* Adjust input font size */
    }

    .submit-btn {
        font-size: 14px; /* Adjust button font size */
    }
}

.submit-btn:hover{
    background-color: #2A4A35;
    color: white
}
input[type="email"]:focus {
    outline: none; /* Remove focus outline if desired */
}