body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container1 {
    max-width: 500px;
    width: 100%; /* Ensures responsiveness */
    margin: 50px auto;
    background-color: rgba(142, 175, 132, 0.75);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Prevents padding from affecting width */
}
.container{
    width: 100%; /* Full width */
    max-width: 525px; /* Restrict max width */
    padding: 20px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5em;
    color: white;
    margin: 0; /* Removes extra space */
}

.form-container {
    margin-top: 20px;
}

label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%; /* Full width to improve responsiveness */
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is inside the width */
}

.btn {
    background-color: #fff;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Full width button */
    font-weight: 600;
    font-size: 16px
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 15px; /* Adjust padding for small screens */
    }

    h1 {
        font-size: 1.2em; /* Adjust font size for small screens */
    }

    .logo {
        width: 100px; /* Smaller logo on small screens */
    }

    input {
        width: 100%; /* Ensures input fields are full-width */
    }

    .btn {
        padding: 12px 18px; /* Slightly larger button for better touch targets */
    }

    footer {
        font-size: 0.8em; /* Adjust footer size */
    }
}

button:hover {
    background-color: #2A4A35;
    color: white
}

.update-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stacks items vertically */
    max-width: 700px;
    background-color: rgba(80, 121, 88);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box; /* Ensures padding is included in width */
    height:60%
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}